<h1 style="text-align: center;">{{title}}</h1>

<form style="text-align: center;">

  <input type="text" name="nombre" [(ngModel)]="usuario.nombre">
  <br>
  <br>
  <input type="text" name="apellido" [(ngModel)]="usuario.apellido">
  <br>
  <br>
  <input type="text" name="cargo" [(ngModel)]="usuario.cargo">
  <br>
  <br>
  <input type="submit" value="Registrarse" (click)="register()">

</form>

<br>

<p *ngIf="registrado else noregistrado">{{mensaje}} su nombre es: {{usuario.nombre}} {{usuario.apellido}} y su cargo es: <span [ngClass]="{senior: usuario.cargo.toLowerCase() == 'senior'}">{{usuario.cargo}}</span></p>
<ng-template #noregistrado>
  <p>Aun no hay registros</p>
</ng-template>

<br>
<br>

<ul>
  <li *ngFor="let entrada of entradas; let i=index"><span style="font-size: large;font-weight: bold;">{{i+1}} {{entrada.titulo}}</span></li>
</ul>